#dataHere{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .week {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: lightgrey;
  }
  
  .confetti {
    position: absolute;
    width: 4px;
    height: 15px;
    background-color: red;
    transition: 0.3s;
  }