body{
    background-color: rgb(65, 96, 40);
}
.circle {
    position:absolute;
    border-radius: 50%; /* Makes the div a circle */
    width: 60px; /* Width of all circles */
    height: 60px; /* Height of all circles */
    text-align:center;
    align-content: center;
    font-family: "pf-marlet-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  20px;
    color: rgb(0, 0, 0);
}

.column1 {
    margin-left: 150px; 
    background-color: #b71762; 

}
.column2 {
    margin-left: 250px; 
    background-color: #e94242; 
}

.column3 {
    margin-left: 350px; 
    background-color: #db9b34; 
}

.column4 {
    margin-left: 450px; 
    background-color: #299025; 
}

.row1{
    top: 50px;
}
.row2{
    top: 150px;
}
.row3{
    top: 250px;
}
.row4{
    top: 350px;
}
.row5{
    top: 450px;
}
.row6{
    top: 550px;
}
.row7{
    top: 650px;
}
.content{
    margin-left:400px;
}
.outline {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
  }
.title{
    font-family: "pf-marlet-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  20px;
    color: rgb(120, 210, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 100%;
    transform: translate(-50%, -100%); 
}
.plate{
    position: absolute;
    margin-left: 190px;
    margin-top: -180px;
    width: 1000px; 
}

img {
    width: 1000px; 

  }
  
.dish-name{
    font-family: "arbotek-rounded", sans-serif;
font-weight: 300;
font-style: normal;
    font-size:  30px;
    position: absolute;
    margin-top:160px;
    text-align:center;
    align-content: center;
}